---
import { getCollection } from "astro:content";
import ProjectCard from "../components/ProjectCard.astro";

const allProjects = await getCollection("projects");
---

<section class="section-layout">
  <h2 class="section-heading">
    RECENT PROJECTS
  </h2>

  {allProjects.map(i => (
    <ProjectCard
    url={i.data.url}
    img={i.data.img}
    clr={i.data.clr}
    project={i.data.project}
    text={i.data.text}
  />

  ))}

  <p class="text-xl font-semibold text-center pt-4">A další ve vývoji...</p>
</section>
