---
import { getCollection } from "astro:content";
import WebsitesCarousel from "../components/islands/WebsitesCarousel";

const allWebsites = (await getCollection("websites")).sort(
  (a, b) => a.data.order - b.data.order
);
---

<section class="section-layout reveal overflow-hidden">
  <h2 class="section-heading">Websites</h2>

  <WebsitesCarousel websites={allWebsites.map((i) => i.data)} client:load />
  <!-- <div class="grid grid-cols-1 gap-5">
    {
      allWebsites.map((i) => (
        <WebsiteCard
          url={i.data.url}
          img={i.data.img}
          title={i.data.title}
          text={i.data.text}
          features={i.data.features}
          stats={i.data.stats}
        />
      ))
    }
  </div> -->
</section>
